@model StudentGroup.Models.Student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<dl>
    <dt>Имя</dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>

    <dt>Фамилия</dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>

    <dt>Группа</dt>
    <dd>
        @Html.DisplayFor(model => model.Group.Name)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Удалить" />
}